## Circleci version
version: 2

## Machine specific variable
jobs:
  build:
    machine:
       image: circleci/classic:201808-01

## Build crc-libvirt-driver
    working_directory: ~/work
    steps:
    - checkout
    - run:
       name: Build driver binary
       command: make
    - store_artifacts:
       path: ~/work/crc-driver-libvirt-centos7
       destination: crc-driver-libvirt
    - store_artifacts:
       path: ~/work/crc-driver-libvirt-ubuntu16.04
       destination: crc-driver-libvirt-ubuntu16.04

